## Task 1 - SQL

### Build SparkSession:

In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as func
spark = SparkSession.builder.appName('Assignment2').getOrCreate()

### Read the json file:

In [2]:
df = spark.read.json('DataFrames_sample.json')

### Display the schema:

In [3]:
df.printSchema()

root
 |-- D: double (nullable = true)
 |-- H: double (nullable = true)
 |-- HDD: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Model: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- ScreenSize: string (nullable = true)
 |-- W: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Year: long (nullable = true)

### Get all the data when "Model" equal "MacBook Pro":

In [5]:
df.select('*').where(func.col('model')=="MacBook Pro").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Create Table:

In [6]:
df.createOrReplaceTempView('json_file')

### Display "RAM"column and count "RAM" column:

In [7]:
spark.sql("""select ram, count(ram) from json_file group by ram""").show()

+----+----------+
| ram|count(ram)|
+----+----------+
|64GB|         1|
|16GB|         1|
| 8GB|         2|
+----+----------+

### Get all columns when "Year" column equal "2015"

In [8]:
spark.sql("""select * from json_file where year == 2015""").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all when "Model" start with "M":

In [9]:
spark.sql("""select * from json_file where model like 'M%'""").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data when "Model" column equal "MacBook Pro"

In [10]:
spark.sql("""select * from json_file where model=='MacBook Pro' """).show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [11]:
spark.sql("""select * from json_file where ram = '8GB' and model = 'MacBook' """).show()

+----+----+---------+---+-------+---+----------+-----+------+----+
|   D|   H|      HDD| Id|  Model|RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|  2|MacBook|8GB|       12"|11.04|  2.03|2016|
+----+----+---------+---+-------+---+----------+-----+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [12]:
spark.sql("""select * from json_file where d >= 8 and model = 'iMac' """).show()

+---+----+-------+---+-----+----+----------+----+------+----+
|  D|   H|    HDD| Id|Model| RAM|ScreenSize|   W|Weight|Year|
+---+----+-------+---+-----+----+----------+----+------+----+
|8.0|20.3|1TB SSD|  4| iMac|64GB|       27"|25.6|  20.8|2017|
+---+----+-------+---+-----+----+----------+----+------+----+

## Task 2

### Read "test1" dataset:

In [13]:
df = spark.read.csv('test1.csv', inferSchema=True, header=True)

### Display Salary of the people less than or equal to 20000

In [16]:
df.select('Salary').filter(df['Salary'] <= 20000).sort('Salary').show()

+------+
|Salary|
+------+
| 15000|
| 18000|
| 20000|
| 20000|
+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [18]:
df.select('Salary').where((func.col('Salary' ) >= 15000) & (func.col('Salary') <= 20000)).sort('Salary').show()

+------+
|Salary|
+------+
| 15000|
| 18000|
| 20000|
| 20000|
+------+

## Task 3

### Read "test3" dataset:

In [19]:
df3 = spark.read.csv('test3.csv', inferSchema=True, header=True)

### Display dataset

In [20]:
df3.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display schema

In [21]:
df3.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

### Group by "Name" column and using sum function on "Name" column

In [23]:
df3.groupBy('Name').agg(func.sum('Salary')).show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

### Group by "Name" column and using avg function on "Name" column

In [24]:
df3.groupBy('Name').agg(func.avg('Salary')).show()

+---------+------------------+
|     Name|       avg(Salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

### Group by "Departments" column and using sum function on "Departments" column

In [25]:
df3.groupBy('Departments').agg(func.sum('Salary')).show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

### Group by "Departments" column and using mean function on "Departments" column:

In [26]:
df3.groupBy('Departments').agg(func.avg('Salary')).show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

Group by "Departments" column and using count function on "Departments" column:

In [27]:
df3.groupBy('Departments').agg(func.count('Departments')).show()

+------------+------------------+
| Departments|count(Departments)|
+------------+------------------+
|         IOT|                 2|
|    Big Data|                 4|
|Data Science|                 4|
+------------+------------------+

### Apply agg to using sum function get the total of salaries

In [28]:
df3.select(func.sum('Salary')).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

In [31]:
df4 = spark.read.csv('ITI_data.csv', inferSchema=True, header=True)
df4.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)

In [32]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder

In [34]:
train, test = df4.randomSplit([.8,.2],seed=42)

In [35]:
numeric_features = [feature for (feature, data_type) in train.dtypes if data_type != 'string' and feature != 'crew']
numeric_features

['Age', 'Tonnage', 'passengers', 'length', 'cabins', 'passenger_density']

In [37]:
stringIndexer = StringIndexer(inputCol='Cruise_line', outputCol='Index_Cruise_line',handleInvalid='skip')

### OneHotEncoder

In [38]:
ohe = OneHotEncoder(inputCol='Index_Cruise_line',outputCol='ohe_Cruise_line')

###Use VectorAssembler to merge all columns into one column:

In [39]:
vec_features = numeric_features + ['ohe_Cruise_line']

In [53]:
vec_features

### Create a Linear Regression Model

In [42]:
from pyspark.ml.feature import VectorAssembler
assembler = VectorAssembler(inputCols=vec_features, outputCol='features')

In [44]:
from pyspark.ml.regression import LinearRegression
lr = LinearRegression(featuresCol='features', labelCol='crew')

### Creating a Pipeline

In [47]:
from pyspark.ml import Pipeline
pipeline = Pipeline(stages=[stringIndexer, ohe, assembler, lr])
pip_model = pipeline.fit(train)
predictions_df = pip_model.transform(test)

In [52]:
from pyspark.ml.evaluation import RegressionEvaluator
regressionEvaluator = RegressionEvaluator(predictionCol='prediction',labelCol='crew',metricName='rmse')
rmse = regressionEvaluator.evaluate(predictions_df)
print(f"\n RMSE is {rmse:.1f}\n\n")

 RMSE is 0.5

By Eng. Mostafa Nabieh 
If you have questions, please feel free to ask.

My Email : nabieh.mostafa@yahoo.com

My Whatsapp : +201015197566